[Unit]
Description=kongo
After=multi-user.target

[Service]
Restart=always
RestartSec=60
User=novac
ExecStart=/bin/bash  /home/novac/kongo.sh

[Install]
WantedBy=multi-user.target

