[Unit]
Description=kongo
After=multi-user.target

[Service]
Restart=always
RestartSec=60
User=pi
ExecStart=/bin/bash  /home/pi/kongo.sh

[Install]
WantedBy=multi-user.target

